

body{
  font-family: "Chakra Petch", sans-serif;
}

.mainfont-color {
  color: rgb(203, 254, 28) !important;
}
.navbarlinkscolor{
    color: #F1F1F1 !important;
}
.gamearenaimg{
    height: 20px;
    width: 25px;
    margin: 0 10px;
}

.nav1{

border-bottom: 2px rgba(201, 254, 28, 0.486) solid;
background-color: black;
z-index: 900;
}

.nav1 i {
    cursor: pointer !important;
}

.nav-item a:hover, i:hover{
    color: rgb(203, 254, 28) !important;

}

.navbar .navbar-brand {
  margin-right: auto;   
  margin-left: 0;
}
.btn1{
    background-color: #CBFE1C;
    font-size:16px ;
    font-weight: 700;
    line-height:24px ;
    color: black !important;

}

.btn1:hover{
    background-color: #92b818;
    color: black !important;
}

/* END OF NAVBAR */

/* START OF HEADER SECTION */
header{

    background: rgba(0, 0, 0, 0.842) url(/Images/hero-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
}
.mainpic img{
height: 100%;
width: 100%;
}
.mainpic{
    box-sizing: border-box;
    height: 50%;
    width: 90%;
    border: #A2F449 4px solid !important;
}
header .pictag{
    height: 75px;
    width: 150px;
    bottom: -25px;
    left: -50px;
background-color: #0B0E13;

}

.pictag p{
    font-size: 12px;
    font-weight:400;
    line-height: 16px;
    color: oklch(0.707 0.022 261.325);
        padding: 0;
    margin: 0;
}
.pictag span{
    font-size: 20px;
    font-weight:700;
    line-height: 28px;
    color: rgb(241, 241, 241);
        padding: 0;
    margin: 0;
}

.hdrightside h1{
    font-family: "Days One", sans-serif;
    font-size: 60px;
    font-weight:700;
    line-height: 75px;
    color: rgb(241, 241, 241);

}
.hdrightside h1 span{
    font-family: "Days One", sans-serif;
    font-size: 60px;
    font-weight:700;
    line-height: 75px;
    color: rgb(203, 254, 28);
}
.hdrightside p{
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    font-weight:400;
    line-height: 26px;
    color: oklch(0.872 0.01 258.338);
}
.btn2, .btn3{
    /* width: 220px; */
    height: 60px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    font-weight:700;
    line-height: 24px;
    color: rgb(203, 254, 28);
}
.btn2{
    color: black;
    background-color: #CBFE1C;
}
.btn2:hover{
    color: #000;
    background-color: #A6CB16;
}
.btn3{
    background-color: #000000;
    border: #A6CB16 2px solid ;
        position: relative;
        
}
.btn3:hover{
    color: #000;
    background-size: 400%;
    background-color: #A6CB16;
    border: none;

}
.gloss{
    position: relative;
    overflow: hidden;
    z-index: 4;
}
.gloss1{
    position: relative;
    overflow: hidden;
    z-index: 4;
}
.gloss::before{
    content: '';
    height: 80px;
    width: 20px;
    background-color: rgba(248, 248, 255, 0.411);
    box-shadow: 0 0 40px #fff;
    filter: blur(2px);
    opacity: .9;
    position: absolute;
    top: -10px;
    transition: 1.7s;
    transform: translatex(-40px);
    z-index: 3;
}

.gloss:hover::before{
    transform: translateX(800px);
}
.gloss1::before{
    content: '';
    height: 80px;
    width: 20px;
    background-color: rgba(248, 248, 255, 0.411);
    box-shadow: 0 0 40px #fff;
    filter: blur(2px);
    opacity: .9;
    position: absolute;
    top: -10px;
    transition: .7s;
    transform: translatex(-40px);
    z-index: 3;
}

.gloss1:hover::before{
    transform: translateX(50px);
}

/*  END OF HEADER SECTION */

/* START OF MAIN */
/* START OF LATEST GAMES */
#carouselExample{
    height: 500px;
}

#latest-games h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(203, 254, 28) !important;
    position: relative;
    margin-top: 80px;
    
}
#latest-games h2::after{
    content: '';
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to right, #CBFE1C, #c9fe1c00  );
    position: absolute;
    top: 10px;
    left: 110px;
}
#latest-games h2::before{
    content: '';
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to left, #CBFE1C, #c9fe1c00  );
    position: absolute;
    top: 10px;
    right: 110px;
}
#latest-games p{
    font-family: "Days One", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(241, 241, 241);
}

.btnslider{
border-radius: 50%;
border:  #99a1af 2px solid;
background-color:#0B0E13;
height: 50px;
width: 50px;
transition: .7s;
}
.carousel-control-next-icon{
    background-color: red;
}

.btnslider:hover {
    border:#CBFE1C 2px solid;
}

.btnslider i{
    transition: .7s;
}
.btnslider:hover i{
    color:#CBFE1C !important;
}

.btn4{
    /* width: 220px; */
    height: 70px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    font-weight:700;
    line-height: 28px;
    transition: .7s;
    border: black 2px solid;
}
.btn4{
    color:#CBFE1C;
    background-color:black;
    border:#CBFE1C 2px solid;
}
.btn4:hover{
    color:black;
    background-color:#CBFE1C;
    border:#CBFE1C 2px solid;
}

.gloss3::before{
    content: '';
    height: 80px;
    width: 20px;
    background-color: rgba(248, 248, 255, 0.411);
    box-shadow: 0 0 40px #fff;
    filter: blur(2px);
    opacity: .9;
    position: absolute;
    top: -10px;
    transition: .7s;
    transform: translatex(-40px);
    z-index: 3;
}
.gloss3{
    position: relative;
    overflow: hidden;
    z-index: 
}
.gloss3:hover::before{
    transform: translateX(250px);
}

.carousel-item img{
    height: 100%;
    width: 100%;
    transition: transform .7s;

}
.game{
    border-radius: 12px;
    overflow: hidden;
    transition: .7s;
    width: 30%;
    border: none;
    position: relative;
}

.game:hover {
   border: #CBFE1C 3px solid;   

}
.game:hover img{
    transform: scale(110%);
    
}

.gameinfo{
    height: 25%;
    position: absolute;
    background-image: linear-gradient(to top, #CBFE1C, #c9fe1c00  );
    bottom: -25%;
    transition: .5s;
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    line-height:28px ;
    font-weight: 700;
    padding: 20px;
    color: rgb(11, 14, 19);
   }
   .game:hover .gameinfo{

    bottom: 0;
}
.gametype{
    height: 25%;
    position: absolute;
    top: -25%;
    transition: .5s;
    padding: 20px;
    }
    .gametype1{
        height: 20px;
        background-color:rgba(0, 0, 0, 0.205);
        backdrop-filter: blur(1px);
    }
    .gametype span{
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        color: rgb(241, 241, 241);
    }

    .game:hover .gametype{
        top: 0;
    }
    /*  END OF LATEST GAMES  */