

body{
  font-family: "Chakra Petch", sans-serif;
}

.mainfont-color {
  color: rgb(203, 254, 28) !important;
}
.navbarlinkscolor{
    color: #F1F1F1 !important;
}
.gamearenaimg{
    height: 20px;
    width: 25px;
    margin: 0 10px;
}

.nav1{

border-bottom: 2px rgba(201, 254, 28, 0.486) solid;
background-color: black;
z-index: 900;
}

.nav1 i {
    cursor: pointer !important;
}

.nav-item a:hover, i:hover{
    color: rgb(203, 254, 28) !important;

}

.navbar .navbar-brand {
  margin-right: auto;   
  margin-left: 0;
}
.btn1{
    background-color: #CBFE1C;
    font-size:16px ;
    font-weight: 700;
    line-height:24px ;
    color: black !important;

}

.btn1:hover{
    background-color: #92b818;
    color: black !important;
}

/* END OF NAVBAR */

/* START OF HEADER SECTION */
header{

    background: rgba(0, 0, 0, 0.842) url(/Images/hero-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
}
.mainpic img{
height: 100%;
width: 100%;
}
.mainpic{
    box-sizing: border-box;
    height: 50%;
    width: 90%;
    border: #A2F449 4px solid !important;
}
header .pictag{
    height: 75px;
    width: 150px;
    bottom: -25px;
    left: -50px;
background-color: #0B0E13;

}

.pictag p{
    font-size: 12px;
    font-weight:400;
    line-height: 16px;
    color: oklch(0.707 0.022 261.325);
        padding: 0;
    margin: 0;
}
.pictag span{
    font-size: 20px;
    font-weight:700;
    line-height: 28px;
    color: rgb(241, 241, 241);
        padding: 0;
    margin: 0;
}

.hdrightside h1{
    font-family: "Days One", sans-serif;
    font-size: 60px;
    font-weight:700;
    line-height: 75px;
    color: rgb(241, 241, 241);

}
.hdrightside h1 span{
    font-family: "Days One", sans-serif;
    font-size: 60px;
    font-weight:700;
    line-height: 75px;
    color: rgb(203, 254, 28);
}
.hdrightside p{
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    font-weight:400;
    line-height: 26px;
    color: oklch(0.872 0.01 258.338);
}
.btn2, .btn3{
    /* width: 220px; */
    height: 60px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    font-weight:700;
    line-height: 24px;
    color: rgb(203, 254, 28);
}
.btn2{
    color: black;
    background-color: #CBFE1C;
}
.btn2:hover{
    color: #000;
    background-color: #A6CB16;
}
.btn3{
    background-color: #000000;
    border: #A6CB16 2px solid ;
        position: relative;
        
}
.btn3:hover{
    color: #000;
    background-size: 400%;
    background-color: #A6CB16;
    border: none;

}
.gloss{
    position: relative;
    overflow: hidden;
    z-index: 4;
}
.gloss1{
    position: relative;
    overflow: hidden;
    z-index: 4;
}
.gloss::before{
    content: '';
    height: 80px;
    width: 20px;
    background-color: rgba(248, 248, 255, 0.411);
    box-shadow: 0 0 40px #fff;
    filter: blur(2px);
    opacity: .9;
    position: absolute;
    top: -10px;
    transition: 1.7s;
    transform: translatex(-40px);
    z-index: 3;
}

.gloss:hover::before{
    transform: translateX(800px);
}
.gloss1::before{
    content: '';
    height: 80px;
    width: 20px;
    background-color: rgba(248, 248, 255, 0.411);
    box-shadow: 0 0 40px #fff;
    filter: blur(2px);
    opacity: .9;
    position: absolute;
    top: -10px;
    transition: .7s;
    transform: translatex(-40px);
    z-index: 3;
}

.gloss1:hover::before{
    transform: translateX(50px);
}

/*  END OF HEADER SECTION */

/* START OF MAIN */
/* START OF LATEST GAMES */
#carouselExample{
    height: 500px;
}

#latest-games h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(203, 254, 28) !important;
    position: relative;
    margin-top: 80px;
    
}
#latest-games h2::after{
    content: '';
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to right, #CBFE1C, #c9fe1c00  );
    position: absolute;
    top: 10px;
    left: 110px;
}
#latest-games h2::before{
    content: '';
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to left, #CBFE1C, #c9fe1c00  );
    position: absolute;
    top: 10px;
    right: 110px;
}
#latest-games p{
    font-family: "Days One", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(241, 241, 241);
}

.btnslider{
border-radius: 50%;
border:  #99a1af 2px solid;
background-color:#0B0E13;
height: 50px;
width: 50px;
transition: .7s;
}
.carousel-control-next-icon{
    background-color: red;
}

.btnslider:hover {
    border:#CBFE1C 2px solid;
}

.btnslider i{
    transition: .7s;
}
.btnslider:hover i{
    color:#CBFE1C !important;
}

.btn4{
    /* width: 220px; */
    height: 70px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    font-weight:700;
    line-height: 28px;
    transition: .7s;
    border: black 2px solid;
}
.btn4{
    color:#CBFE1C;
    background-color:black;
    border:#CBFE1C 2px solid;
}
.btn4:hover{
    color:black;
    background-color:#CBFE1C;
    border:#CBFE1C 2px solid;
}

.gloss3::before{
    content: '';
    height: 80px;
    width: 20px;
    background-color: rgba(248, 248, 255, 0.411);
    box-shadow: 0 0 40px #fff;
    filter: blur(2px);
    opacity: .9;
    position: absolute;
    top: -10px;
    transition: .7s;
    transform: translatex(-40px);
    z-index: 3;
}
.gloss3{
    position: relative;
    overflow: hidden;
    z-index: 
}
.gloss3:hover::before{
    transform: translateX(250px);
}

.carousel-item img{
    height: 100%;
    width: 100%;
    transition: transform .7s;

}
.game{
    border-radius: 12px;
    overflow: hidden;
    transition: .7s;
    width: 30%;
    border: none;
    position: relative;
}

.game:hover {
   border: #CBFE1C 3px solid;   

}
.game:hover img{
    transform: scale(110%);
    
}

.gameinfo{
    height: 25%;
    position: absolute;
    background-image: linear-gradient(to top, #CBFE1C, #c9fe1c00  );
    bottom: -25%;
    transition: .5s;
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    line-height:28px ;
    font-weight: 700;
    padding: 20px;
    color: rgb(11, 14, 19);
   }
   .game:hover .gameinfo{

    bottom: 0;
}
.gametype{
    height: 25%;
    position: absolute;
    top: -25%;
    transition: .5s;
    padding: 20px;
    }
    .gametype1{
        height: 20px;
        background-color:rgba(0, 0, 0, 0.205);
        backdrop-filter: blur(1px);
    }
    .gametype span{
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        color: rgb(241, 241, 241);
    }

    .game:hover .gametype{
        top: 0;
    }
    /*  END OF LATEST GAMES  */

    /* START OF SERVICES */

    #services h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(203, 254, 28) !important;
    position: relative;
    margin-top: 80px;
    
}
#services h2::after{
    content: '';
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to right, #CBFE1C, #c9fe1c00  );
    position: absolute;
    top: 10px;
    left: 110px;
}
#services h2::before{
    content: '';
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to left, #CBFE1C, #c9fe1c00  );
    position: absolute;
    top: 10px;
    right: 110px;
}

#services .wdwdp1{
    font-family: "Days One", sans-serif;
    font-size:48px ;
    font-weight: 700;
    line-height: 48px;
    color: rgb(241, 241, 241);
}
#services .wdwdp2{
    font-family: "Chakra Petch", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(241, 241, 241);
}
#services .wdwdp2 span{
    color: rgb(203, 254, 28);
}

.service, .service2{
    width: 250px;
    height: 250px;
    background-color:#1A1A1A;
    position: relative;
    overflow: hidden;
    transition: .5s;
    margin-right: 40px;
}
.service2 img{
    width: 100%;
    height: 100%;
}
.service:hover{
    border: #cbfe1c 2px solid !important;
}
.service:hover .serviceicon i{
    color: #000 !important;
}
.serviceicon{
    transition: .7s;
}
.serviceicon i{
    transition: .7s;
}
.service:hover .serviceicon {
    background-color: #cbfe1c !important;
}
.service::after{
content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  width: 40px;
  height: 40px;
  background-color:  rgb(203, 254, 28); 
  clip-path: polygon(0 0, 100% 0, 0 100%);
  transition: .5s;
}
.service::before{
content: "";
  position: absolute;
  bottom: -20%;
  right: -20%;
  width: 40px;
  height: 40px;
  background-color:  rgb(203, 254, 28); 
  clip-path: polygon(100% 0, 100% 100%, 0 100%); 
  transition: .5s;

}
.service:hover::before{
    bottom: 10px;
  right: 10px;
}
.service:hover::after{
    top: 10px;
  left: 10px;
}
.service img{
    width: 100%;
    height: 100%;
    
}

.service .serviceicon{
    width: 70px;
    height: 70px;
    background-color: #1E2939;
}
.servicep{
    font-family: "Days One", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: rgb(241, 241, 241);
}
/* END OF SERVICES */
/* START OF GAMES */
.track .item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
      transition: transform 0.7s ease, filter 0.4s ease;
    
}

.startline ,.endline {
    background-image:linear-gradient(to right, #c9fe1c00,#CBFE1C,#CBFE1C,#CBFE1C,#c9fe1c00) ;
    height: 2px;
}

.carousel{
    height: 200px;
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}
.carousel:hover img{
    filter: grayscale(.8);
    transition: .5s;
    
}
.carousel:hover .track1{
    animation-play-state: paused;
}
.carousel:hover .track2{
animation-play-state: paused;
}
.carousel img:hover{
    filter: grayscale(0);
    transform: scale(1.05);
    transition: .7s;

    
}
.track1{
    width: max-content;
    will-change: transform;
    animation: scroll 50s linear infinite;
}
.track2{
    width: max-content;
    will-change: transform;
    animation: scroll-reverse 50s linear infinite;
}

@keyframes scroll {
    to{
        transform: translateX(-50%);
    }
}
@keyframes scroll-reverse {
    to{
        transform: translateX(50%);
    }
}

.item{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 15px;
    margin-right: 15px;
    overflow: hidden;
      transition: transform 0.7s ease, filter 0.4s ease;
}

.contscr{
    background-image: radial-gradient(#c9fe1c, #c9fe1c2d);
    filter: blur(50px);
    opacity: 50px;
    border-radius: 50%;
    z-index: 50;
    position: absolute;
    z-index: -1;
}
/* END OF GAMES */
/* START OF OUR TEAM */
#our-team{
    height: 1100px;
}

    #our-team h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(203, 254, 28) !important;
    position: relative;
    margin-top: 80px;
    margin-bottom : 20px;
    
}
#our-team h2::after{
    content: '';
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to right, #CBFE1C, #c9fe1c00  );
    position: absolute;
    top: 10px;
    left: 110px;
    
}
#our-team h2::before{
    content: '';
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to left, #CBFE1C, #c9fe1c00  );
    position: absolute;
    top: 10px;
    right: 110px;
}

 #our-team .ot1{
    font-family: "Days One", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(241, 241, 241)!important;
 }
 #our-team .ot2{
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: oklch(0.707 0.022 261.325)!important;
 }

 .ommc{
    height: 830px;
 }

 .omcard{
    width: 310px;
    height: 365px;
    border-radius: 15px;
    overflow: hidden;
 }

 
 .omcard img{
    width: 100%;
    height: 100%;
    
 }

 .tminfo{
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    backdrop-filter: blur(5px);
    
 }
 .maintinfo{
height: 100%;



 }
 .nametm{
    font-family: "Days One", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(253, 253, 253)!important;
    text-align: start;
 }
 .tmgame{
    font-family: "Chakra Petch", sans-serif !;
    font-size: 18px !important;
    font-weight: 500;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.562)!important;
    text-align: start;
 }
 .cctm{
    font-family: "Chakra Petch", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: oklch(0.707 0.022 261.325)!important;
    text-align: start;
 }
 .titlec{
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.678)!important;
    text-align: center;
    transform: rotate(90deg);
    margin: 0;
 }

 .greyiffect{

    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: grayscale(1);
     transition: top .7s ;

 }

   .omcard:hover .greyiffect{
top: -100%;

  }

  .omcard:hover .tmgame{
    color:  #CBFE1C !important;
  }
  .omcard:hover .titlec{
    color:  #CBFE1C !important;
  }
/* END OF OUR TEAM */
/* START OF GET IN TOUCH */